//// SASS VARIABLES //////////////

$muli: 'Muli', sans-serif;
$lato: 'Lato', sans-serif;
$black: #000;

//////////////////////////////////


* {
    box-sizing: border-box;
}

body {
    font-size: 16px;
    font-family: $muli;
    background: url('../../img/isola1.jpg');
    background-repeat: no-repeat;
    background-position: 98%;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

a {
    color: $black;
}

h1 {
    font-size: 2.5em;
}

h4 {
    font-size: 1.4em;
}

.main-header {
    display: flex;
    justify-content: space-between;
    height: 10vh;
    align-items: center;
    padding: 0 20px;
    button {
        background: rgba(0,0,0, 0.125);
        border: none;
        height: 32px;
        width: 90px;
        border-radius: 2px;
        box-shadow: 1px 1px 5px rgba(0,0,0,.1);
        text-transform: uppercase;
        text-align: center;
    }
}

.main-footer {
    min-height: 15vh;
    .footer-line {
        width: 80%;
        height: 1px;
        background: black;
        margin: 0 auto 12px;
    }
    .icons-container {
        display: flex;
        justify-content: center;
        margin-bottom: 12px;
    }
    a {
        border: 2px solid black;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        margin: 0 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
    }
    i {
        padding: 0 8px;
    }
    p {
        text-align: center;
        color: gray;
        text-transform: uppercase;
        font-size: .6em;
    }
}
