.home {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 80vh;
    h1 {
        font-size: 2.5em;
        font-family: "Lato", sans-serif;
        font-weight: 100;
        text-transform: uppercase;
        margin-top: 13vh;
        margin-bottom: 5px;
    }
    h5 {
        font-size: 1em;
        font-family: $lato;
        font-weight: 100;
        margin-bottom: 30px;
    }
    img {
        width: 65px;
        height: auto;
    }

}
