.pictures {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 75vh;
    h1 {
        font-size: 2.5em;
        font-family: "Lato", sans-serif;
        font-weight: 100;
        text-transform: uppercase;
        margin-top: 13vh;
        margin-bottom: 5px;
        transition: all .2s ease;
    }
    h5 {
        font-size: 1em;
        font-family: $lato;
        font-weight: 100;
        margin-bottom: 30px;
        transition: all .2s ease;
    }
    img {
        width: 65px;
        height: auto;
        transition: all .2s ease;
    }
    p:first-letter {
        font-size: 4em;
        color: black;
        margin-right: 2px;
    }

}

@media screen and (min-width: 550px){
    .home {
        h1 {
            font-size: 3em;
        }
        img {
            width: 85px;
        }
    }
}

@media screen and (min-width: 767px){
    .home {
        h1 {
            font-size: 4em;
        }
        h5 {
            font-size: 1.25em;
        }
        img {
            width: 115px;
        }
    }
}
