<header class="main-header">
    <div class="hamburger-container">
        <i class="material-icons" ng-click='$ctrl.openMenu()'>menu</i>
    </div>
    <div class="header-button-container">
        <a href=""><button type="button" name="button">Login</button></a>
    </div>
</header>

<div class="menu-modal" ng-hide="$ctrl.toggleMenu"></div>
<div class="menu-container" ng-class="{ 'menu-active': $ctrl.isActive }">
    <i class="material-icons menu-close" ng-click="$ctrl.openMenu()">close</i>

    <img ng-src="./img/etalogo.svg" alt="eta logo"/>
    <ul>
        <a href="#!/info"><li>Info</li></a>
        <a href="#!/packages"><li>Packages</li></a>
        <a href="#!/info"><li>Pictures</li></a>
        <a href="#!/login"><li>Login</li></a>
    </ul>
</div>
